@import url("https://fonts.googleapis.com/css?family=Roboto");

html body {
  background-color: #1F2673;
  padding: 5vh;
  font-family: Roboto;
}

.App{
  border-radius: 0.6%;
  background: #46C2AF;
  width: 100%;
  height: 100%;
  text-align: center;
}

.Title{
  color:white;
  font-size: 48;
}

.Flights{
  background-color: white;
  vertical-align: middle;
}

.page-item{
  color: #46C2AF;
}

.btn-primary {
  background-color:#1F2673 !important;
  align-items: center;
}

.logo {
  width: 10vh;
  margin: 2vh;
}

.pagi {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.airline {
 align-items: center;
}

/* input::-webkit-input-placeholder {
  padding-left:10px;
} */
